<h4>Hi  </h4>
Welcome <%= session[:set_name] %>

<% if @play_again %>
<p>
  <strong>Play again!<strong>
  <a href="/game" class="btn btn-primary">Yes</a>
  <a href="/game_over" class="btn">No</a>
</p>
<% end %>

<div class="well">
<h4>Dealers cards are:</h4>
  <% session[:dealer_cards].each_with_index do |card, i| %>
    <% if session[:turn] != "dealer" && i == 0 %>
    	<img src="/images/cards/cover.jpg">
    <% else %>
      <%= card_image(card) %>
    <% end %>
  <% end %>
  <p>
  	<h5>Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit</h5>
  <% if @show_dealer_hit_button %>
    <form action='/game/dealer/hit' method='post'> 
      <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;'>
    </form>
  </p>  
  <% end %>

</div>

<br>
<div class="well">
<h4>Players cards are:</h4>

  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>


</div>

<p>
  What would <%= session[:set_name]%> like to do?
  <%= session[:set_name] %> has <%= calculate_total(session[:player_cards]) %>

<% if @show_hit_or_stay_buttons %>
  <form id="hit_form" action="/game/player/hit" method='post'>
    <input type="submit" class="btn btn-success" value="Hit" />
  </form>
  <form id="stay_form" action="/game/player/stay" method='post'>
    <input type="submit" class="btn btn-warning" value="Stay" />
  </form>
<% end %>
</p>